<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	     xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

	<!-- Configurer that replaces ${...} placeholders with values from properties files or from sys props -->
	<bean id="propertyConfigurer" class="com.od.jtimeseries.component.logging.LoggingPropertyPlaceholderConfigurer">
        <property name="location" value="/jtimeseries-server.properties"/>
    </bean>

    <import resource="managedMetrics.xml"/>
    <import resource="summaryStats.xml"/>
    <import resource="pathMappings.xml"/>

    <bean id="seriesDirectory" class="java.io.File">
        <constructor-arg value="${seriesDirectory}"/>
    </bean>

    <bean id="timeSeriesFactory" class="com.od.jtimeseries.server.timeseries.FilesystemTimeSeriesFactory">
        <constructor-arg ref="fileSerializer"/>
        <constructor-arg>
            <bean class="com.od.jtimeseries.util.time.Time" factory-method="milliseconds">
                <constructor-arg value="${fileAppendDelayMillis}"/>
            </bean>
        </constructor-arg>
        <constructor-arg>
            <bean class="com.od.jtimeseries.util.time.Time" factory-method="milliseconds">
                <constructor-arg value="${fileRewriteDelayMillis}"/>
            </bean>
        </constructor-arg>
        <constructor-arg value="${maxSeriesSize}"/>
    </bean>

    <bean id="scheduler" class="com.od.jtimeseries.scheduling.NonGroupingScheduler"/>

    <bean id="rootContext" class="com.od.jtimeseries.context.impl.SeriesContext" init-method="initializeRootContext">
        <constructor-arg value="${rootContextName}"/>
        <constructor-arg value="${rootContextDescription}"/>
        <constructor-arg value="true"/>
        <constructor-arg value="false"/>
        <property name="timeSeriesFactory" ref="timeSeriesFactory"/>
        <property name="scheduler" ref="scheduler"/>
    </bean>

    <bean id="fileSerializer" class="com.od.jtimeseries.server.serialization.RoundRobinSerializer">
        <constructor-arg ref="seriesDirectory"/>
        <constructor-arg value="${seriesFileSuffix}"/>
    </bean>

    <bean id="seriesDirectoryManager" class="com.od.jtimeseries.server.SeriesDirectoryManager">
        <constructor-arg ref="seriesDirectory"/>
        <constructor-arg ref="fileSerializer"/>
        <constructor-arg ref="rootContext"/>
        <constructor-arg ref="pathMapper"/>
        <constructor-arg value="${seriesFileSuffix}"/>
        <constructor-arg value="${maxSeriesCount}"/>
        <constructor-arg value="${maxDiskSpaceForSeriesInMB}"/>
        <constructor-arg value="${maxSeriesFileAgeDays}"/>
    </bean>

    <bean id="udpClient" class="com.od.jtimeseries.net.udp.UdpClient"/>

    <bean id="udpServer" class="com.od.jtimeseries.net.udp.UdpServer">
        <constructor-arg value="${udpServerPort}"/>
    </bean>

    <bean id="httpdServer" class="com.od.jtimeseries.net.httpd.JTimeSeriesHttpd">
        <constructor-arg value="${httpdDaemonPort}"/>
        <constructor-arg ref="rootContext"/>
    </bean>

    <bean id="serverAnnouncementMessage" class="com.od.jtimeseries.net.udp.message.properties.PropertiesHttpServerAnnouncementMessage">
        <constructor-arg value="${httpdDaemonPort}"/>
        <constructor-arg value="${serverName}"/>
    </bean>

    <bean id ="serverConfigJmx" class="com.od.jtimeseries.server.jmx.ServerConfigJmx">
        <constructor-arg ref="udpClient"/>
        <property name="serverName" value="${serverName}"/>
        <property name="httpdDaemonPort" value="${httpdDaemonPort}"/>
        <property name="jmxHttpdPort" value="${jmxHttpdPort}"/>
        <property name="udpServerPort" value="${udpServerPort}"/>
    </bean>

    <bean id="htmlAdaptorServer" class="com.sun.jdmk.comm.HtmlAdaptorServer">
        <constructor-arg value="${jmxHttpdPort}"/>
    </bean>

    <bean id="timeSeriesServer" class="com.od.jtimeseries.server.JTimeSeriesServer">
        <property name="serverAnnouncementPingPeriodSeconds" value="${serverAnnouncementPingPeriodSeconds}"/>
        <property name="rootContext" ref="rootContext"/>
        <property name="httpdServer" ref="httpdServer"/>
        <property name="udpClient" ref="udpClient"/>
        <property name="udpServer" ref="udpServer"/>
        <property name="fileSerializer" ref="fileSerializer"/>
        <property name="serverAnnouncementMessage" ref="serverAnnouncementMessage"/>
        <property name="serverConfigJmx" ref="serverConfigJmx"/>
        <property name="managedMetricInitializer" ref="managedMetricInitializer"/>
        <property name="summaryStatisticsCalculator" ref="summaryStatsCalculator"/>
        <property name="htmlAdaptorServer" ref="htmlAdaptorServer"/>
        <property name="jmxManagementPort" value="${jmxManagementPort}"/>
        <property name="pathMapper" ref="pathMapper"/>
    </bean>

    <bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <property name="staticMethod" value="com.od.jtimeseries.server.serialization.FileHeader.setMaxPropertyLength"/>
        <property name="arguments" value="${maxPropertyLength}"/>
    </bean>

    <bean id="executorSource" class="com.od.jtimeseries.server.util.ServerExecutorSource">
        <constructor-arg value="${maxHttpdThreads}"/>
        <constructor-arg value="${maxJmxMetricThreads}"/>
    </bean>
    <bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <property name="staticMethod" value="com.od.jtimeseries.util.TimeSeriesExecutorFactory.setExecutorSource"/>
        <property name="arguments" ref="executorSource"/>
    </bean>


</beans>
