<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	     xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

	<!-- Configurer that replaces ${...} placeholders with values from properties files or from sys props -->
	<bean id="propertyConfigurer" class="com.od.jtimeseries.component.logging.LoggingPropertyPlaceholderConfigurer">
        <property name="location" value="/jtimeseries-agent.properties"/>
    </bean>

    <bean id="udpClient" class="com.od.jtimeseries.net.udp.UdpClient">
        <constructor-arg>
            <bean class="com.od.jtimeseries.net.udp.UdpClientConfig">
                <constructor-arg value="${timeSeriesServerHostname}"/>
                <constructor-arg value="${timeSeriesServerUdpServerPort}"/>    
            </bean>
        </constructor-arg>
    </bean>

    <bean id="rootContext" class="com.od.jtimeseries.net.udp.UdpPublishingTimeSeriesContext">
        <constructor-arg value="${rootContextName}"/>
        <constructor-arg value="${rootContextDescription}"/>
        <constructor-arg ref="udpClient"/>
    </bean>

    <import resource="serverMetrics.xml"/>
    <import resource="inputHandlers.xml"/>

    <bean id="logFileDirectory" class="java.io.File">
        <constructor-arg value="${logDirectory}${file.separator}${logFileName}"/>
    </bean>

    <bean id="logMethodsFactory" class="com.od.jtimeseries.component.logging.JavaUtilLoggingLogMethodsFactory">
        <constructor-arg ref="logFileDirectory"/>
        <constructor-arg value="${logLevel}"/>
        <constructor-arg value="${maxLogFileSizeInBytes}"/>
        <constructor-arg value="${maxLogFileCount}"/>
    </bean>

    <bean id="timeSeriesFactory" class="com.od.jtimeseries.timeseries.impl.RoundRobinTimeSeries">
        <constructor-arg value="${maxSeriesSize}"/>
    </bean>

    <bean id="httpdServer" class="com.od.jtimeseries.net.httpd.JTimeSeriesHttpd">
        <constructor-arg value="${httpdDaemonPort}"/>
        <constructor-arg ref="rootContext"/>
    </bean>

    <bean id ="agentConfigJmx" class="com.od.jtimeseries.agent.jmx.AgentConfigJmx">
        <property name="agentName" value="${agentName}"/>
        <property name="httpdDaemonPort" value="${httpdDaemonPort}"/>
        <property name="jmxHttpdPort" value="${jmxHttpdPort}"/>
    </bean>

    <bean id="htmlAdaptorServer" class="com.sun.jdmk.comm.HtmlAdaptorServer">
        <constructor-arg value="${jmxHttpdPort}"/>
    </bean>

    <bean id="timeSeriesAgent" class="com.od.jtimeseries.agent.JTimeSeriesAgent">
        <property name="rootContext" ref="rootContext"/>
        <property name="httpdServer" ref="httpdServer"/>
        <property name="udpClient" ref="udpClient"/>
        <property name="agentConfigJmx" ref="agentConfigJmx"/>
        <property name="managedMetricInitializer" ref="serverMetricInitializer"/>
        <property name="htmlAdaptorServer" ref="htmlAdaptorServer"/>
        <property name="jmxManagementPort" value="${jmxManagementPort}"/>
        <property name="inputHandlerSource" ref="inputHandlerSource"/>
        <property name="agentMetricsContextPath" value="${agentMetricsContextPath}"/>
        <property name="sendAgentMetricsToServer" value="${sendAgentMetricsToServer}"/>
    </bean>

</beans>
