<%
String urlSt = request.getRequestURL().toString();
String jnlpBaseUrl = urlSt.substring(0, urlSt.lastIndexOf('/') + 1);
%>

<%--
	Need to set a JNLP mime type - if Web Start is installed on the client,     
	this header will induce the browser to drive the Web Start Client
--%>
<%
	response.setContentType("application/x-java-jnlp-file");
	response.setHeader("Cache-Control", "must-revalidate"); 
	response.setHeader("Pragma", "no-cache");

	long now = System.currentTimeMillis();
	response.setDateHeader("Date", now);
	response.setDateHeader("Last-Modified", now);
	response.setDateHeader("Expires", 0);

	//Force IE to recognize MIME type
	String fileName = request.getServletPath();
	fileName = fileName.substring(fileName.lastIndexOf("/") + 1 );
	fileName = fileName.substring(0, fileName.indexOf(".")) + ".jnlp";
	response.setHeader("Content-Disposition", "Inline; fileName=" + fileName);
%>

<?xml version="1.0" encoding="UTF-8"?>
<jnlp spec="1.0+" codebase="<%=jnlpBaseUrl%>" href="timeserious.jsp">
    <information>
        <title>TimeSerious</title>
        <vendor>JTimeseries / Object Definitions Ltd</vendor>
        <homepage href="/timeserious"/>
        <description>Time series visualizer</description>
        <description kind="tooltip">Time series visualizer</description>
        <icon href="seizmograph.jpg" kind="splash"/>
        <offline-allowed/>
        <shortcut online="true">
            <desktop/>
            <menu submenu="TimeSerious"/>
        </shortcut>
    </information>
    <security>
        <all-permissions/>
    </security>
    <resources>
        <j2se version="1.5.0_04+" href="http://java.sun.com/products/autodl/j2se" max-heap-size="256m"/>
        <property name="DUMP_SYS_PROPS" value="true"/>
        $dependencies
    </resources>
    <application-desc main-class="$mainClass">
        <!--<argument><%=jnlpBaseUrl%>dbProperties.jsp</argument>-->
    </application-desc>

</jnlp>
